*{margin: 0;
  padding: 0;
}

body{ font-family: 'Audiowide', cursive; color: #fff;background: url('img/bg-home.jpg') no-repeat scroll center;background-size: cover;text-transform: uppercase;}
h2,h3{font-weight: normal;}
p{text-transform: none;}
.big-text{font-size: 60px;}
.med-text{font-size: 43px;}
.font{font-family: arial,sans-serif;}
header{border: 1px solid black;
background: url('bg-transparent1.png');
}
a{text-decoration: none;text-align: center;font-family: arial, sans-serif;}
li{list-style: none;}


.contain{

  max-width: 940px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  display: flex;}

.contain ul li.selected a{background: black; color: #a3a3a3;}

.logo{margin-right: 17px;}
.contain ul{
float: left;
list-style: none;
margin: 0 0 0 auto;
padding: 0;
width: auto;}

.contain ul li{
  float: left;
  margin: 0;
  padding: 0;
  width: auto;

}

.contain ul li a{
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 59px;
  margin: 0;
  min-height: 60px;
  padding: 0 24px;
  text-align: center;
  text-transform: uppercase;
  width: auto;

  }


  .contain ul li.menu ul li a{
    background-color: #620031;
    color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto;}
.contain ul li.menu ul.secondary{width: 142px;text-align: center;}

.primary, .secondary{display: none;}
.menu{position: relative;}
.primary{position: absolute;left: 25px;}
.secondary{position: absolute;left: -20px;}
.contain li a:hover{background-color: #620031;}

.contain li:hover ul{z-index: 5;display: block;text-align: center;background-color: #620031;}

a.button{
  width: 180px;
  height: 50px;
background: black;
color:#A3A3A3;
text-transform: uppercase;
font-size: 18px;
line-height: 49px;
}
a.button:hover{
  background: #ab000b;




}

.corpo{max-width: 940px;
height: 687px;

margin: 0 auto;
position: relative;
}
#satellite{margin-top: 20px;position:relative;z-index: 5;}
.corpo h1{position: absolute;top: 160px; right: 0;margin: 0 27px ;
}
.corpo h2{position: absolute;top: 250px; right: 0; margin: 0 16%;font-size: 43px;
}
a.button{position: absolute;top: 350px; right: 0; margin: 0 200px 00;}
.corpo h3{max-width: 940px; text-align: center;color: #A3A3A3;font-size: 23px;padding: 17px 0 10px;background: url('bg-transparent1.png') repeat;margin: -35px 0 0;}
.corpo ul{
  display: flex;
  margin: 0 auto;
  list-style: none;
  z-index: 0;
}
.body{background-color:#630031;width: 100%; text-align: center;min-height: 168px;margin: 0;padding: 0;overflow: hidden; }

.body div{
margin: 0 auto;
max-width: 940px;
overflow: hidden;
padding: 31px 10px 0;}

.body h1{font-size: 32px;font-weight: normal;margin: 0 auto 24px;display: block;}
.body p{font-family: arial, sans-serif;font-size: 18px;font-weight: normal; line-height: 30px; width: 800px;margin: 0 auto;}


.footer{background: #000;}
.footer div{
margin: 0 auto;
max-width: 960px;
overflow: hidden;
padding: 32px 0 16px;
}
.footer div ul{display: flex;}
.footer div ul li:first-child{
float: left;
margin: 0 10px;

width: 460px;}
.footer div ul li{
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
    width: 440px;
}

.footer div ul li h1{
font-size: 32px;
font-weight: normal;
line-height: 32px;
margin: 0 0 44px;

text-align: left;
width: auto;}

.footer div ul li a{
display: block;
height: 258px;
position: relative;
width: 460px;}

.footer div ul li a img{
cursor: pointer;
opacity: 1.0;
display: block;
margin: 0;
padding: 0;
width: auto;}


.footer div ul li ul{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 440px;}

.footer div ul li ul li:first-child{
border: medium none;
margin: 0;
padding: 0 0 38px;
width: 440px;}
.footer div ul li ul li{
border-top: 1px solid #A3A3A3;
float: none;
margin: 0;
overflow: hidden;
padding: 39px 0 38px 0;
width: 440px;}
.footer div ul li ul li a{
float: left;
display: block;
height: 90px;
margin: 0 20px 0 0;
padding: 0;
width: 100px;}
.footer div ul li ul li a img{
cursor: pointer;
opacity: 1.0;
display: block;
width: auto;
margin: 0;
padding: 0;

}

.footer div ul li ul li h1{
    color: #A3A3A3;
    float: left;
    font-size: 23px;
    font-weight: normal;
    line-height: 23px;
    margin: 0;
    padding: 4px 0 8px;
    text-align: left;
    width: 310px;
}
.footer div ul li ul li span{
color: #FFFFFF;
display: block;
float: left;
font-family: Arial;
font-size: 14px;
font-weight: normal;
line-height: 14px;
margin: 0 0 10px;
text-align: left;
text-transform: uppercase;
width: 310px;}
.footer div ul li ul li a.more{
background-color: #3c0f38;
color: #ffffff;
display: block;
float: right;
font-family: Arial;
font-size: 14px;
font-weight: normal;
height: 31px;
line-height: 31px;
text-align: center;
text-transform: uppercase;
width: 120px;}




#footer{
margin: 0;
padding: 0;
width: 100%;}

#footer,.social{
background-color: #a3a3a3;
margin: 0;
min-height: 84px;
overflow: hidden;
padding: 0;
width: auto;}

.social div{
margin: 0 auto;
max-width: 960px;
overflow: hidden;
padding: 24px 0 0;}

.social div h1{
float: left;
font-size: 23px;
font-weight: normal;
line-height: 23px;
margin: 0;
padding: 8px 25px 0 0;
text-align: right;
text-transform: uppercase;
width: 525px;}
.social div div{
float: left;
margin: 0;
overflow: hidden;
padding: 0 0 0 20px;
width: 380px;}
.social div div a{
background: url('img/icons.png') no-repeat;
display: block;
float: left;
height: 36px;
margin: 0;
padding: 0;
text-indent: -99999px;
}
.social div div a.facebook{
background-position: 0 0;
margin: 0 0 0 16px;
width: 18px;}
.social div div a.twitter{
background-position: 0 -114px;
margin: 0 0 0 28px;
width: 44px;}

.social div div a.googleplus{
background-position: 0 -38px;
margin: 0 0 0 27px;
width: 37px;}

.social div div a.pinterest{
background-position: 0 -76px;
margin: 0 0 0 29px;
width: 30px;}

#footer .social div div a.facebook:hover {
	background-position: -20px 0;
}
#footer .social div div a.twitter:hover {
	background-position: -46px -114px;
}
#footer .social div div a.googleplus:hover {
	background-position: -38px -38px;
}
#footer .social div div a.pinterest:hover {
	background-position: -32px -76px;
}






#footer, .footnote{
background-color: #FFFFFF;
margin: 0;
min-height: 84px;
overflow: hidden;
padding: 0;
width: auto;}
.footnote div{
margin: 0 auto;
overflow: hidden;
padding: 34px 0 0;
width: 960px;}
.footnote div p{
color: #000000;
display: block;
font-family: Arial;
font-size: 12px;
font-weight: normal;
margin: 0 auto;
padding: 0;
text-align: center;
text-transform: uppercase;
width: 940px;}


/* ! mobile configuration */
@media only screen and (min-width : 320px) and (max-width : 568px) {
  .corpo  h1{z-index: 5;
  float: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 50px;
  position: absolute;
  top: 50px;}

  .corpo h2{
  float: none;
  margin: 0;
  padding: 0 0 10% 0;
  text-align: center;
  width: 100%;
  z-index: 5;
  position: absolute;top: 200px;}

}
@media only screen and (max-width : 568px) and (orientation : landscape) {

}


@media (min-width : 320px) and (max-width: 1024px) {
body{margin: 0;
overflow: hidden;
padding: 0;
position: relative;
width: auto;}
.contain{min-height: 120px;
width: 100%;}
.contain a{
  display: block;
  float: left;
  height: 60px;
  margin: 55px 0 0;
  padding: 0;
  width: 79%;
}
img{max-width: 100%;}
.contain, .logo{margin-left: 5px;}
.contain ul{display: none;}





  .contain span#mobile-menu{background: transparent url('img/mobile-menu.png') no-repeat;
  background-image: url("img/mobile-menu.png");
  display: block;
  height: 50px;
  margin: 0;
  padding: 0 0 0 0;
  position: absolute;
  right: 3%;
  top: 55px;
  width: 50px;
  z-index: 999;}








}




*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
